/* Dark mode */
@media (prefers-color-scheme: dark) {
  * {
    ----color-border-default: #ffffff;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  * {
    ----color-border-default: #1e1e1e;
  }
}

* {
  background: red !important;
}


main {
  font-family: "Atkinson Hyperlegible";

}