:root {
  --font: "Atkinson Hyperlegible Next";
  --orange: orange;
  --purple: purple;
  --pink: lightpink;
  --bg-light: #ffffff;
  --bg-dark: #181820;
  --text-light: #181820;
  --text-dark: #ddd;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
  }
}

/* Light mode */
@media (prefers-color-scme: light) {
  :root {
    --bg: var(--bg-light);
    --text: var(--text-light);
  }
}

/* Common styles */
body {
  font-family: var(--font);
  font-size: var(--font-size);
  background-color: var(--bg);
  color: var(--text);
  padding: 32px;
  font-size: 32px;
  white-space: nowrap;

}

h1 {
  margin: 0;
}

a,
.link {
  color: var(--orange);
  font-size: var(--font-size);
}

a:hover,
.link:hover {
  color: var(--pink);
}

.accent,
accent {
  color: var(--orange);
}

.no_underline {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: nowrap;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
}

hr {
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: linear-gradient(to right, var(--orange), var(--purple));
  height: 4px;
  border-radius: 4px;
  border: none;
}

img {
  pointer-events: none;
  user-select: none;

}

button {
  user-select: text;
  padding: 0;
}

.flag {
  border-radius: 8px;
  height: 64px;
}


/* Gallery layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

.sl-wrapper {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.sl-image>img {
  border-radius: 8px;
}

.sl-prev,
.sl-next {
  color: white !important;
  opacity: 1 !important;
}

.sl-prev:hover,
.sl-next:hover {
  color: var(--orange) !important;
}

.sl-image {
  cursor: move;
}