:root {
  --font: "Atkinson Hyperlegible";
  --orange: orange;
  --purple: purple;
  --bg-light: #ffffff;
  --bg-dark: #1e1e1e;
  --text-light: #1e1e1e;
  --text-dark: #ddd;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--bg-light);
    --text: var(--text-light);
  }
}

/* Common styles */
* {
  font-family: var(--font);
}

body {
  background-color: var(--bg);
  color: var(--text);
  padding: 2rem;
  font-size: 1.5rem;
}

a,
.link {
  color: var(--orange);
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;

}

.underline {
  text-decoration: underline;

}

.username {
  padding: 0;
  text-decoration: none;
  font-size: 2.9rem;
}

a:hover,
.link:hover {
  color: var(--purple);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

accent {
  color: var(--orange);
}

hr {
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: linear-gradient(to right, var(--orange), var(--purple));
  height: 4px;
  border-radius: 4px;
  border: none;
}

#pfp {
  border-radius: 50%;
  width: 4em;
  position: relative;
  float: left;
  margin-right: 1em;
  bottom: 1em;
}

img {
  pointer-events: none;
}

button {
  user-select: text;
}

/* Gallery layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.05);
}

.sl-wrapper {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.sl-image>img {
  border-radius: 8px;
}

.sl-prev,
.sl-next {
  color: white !important;
  opacity: 1 !important;
}

.sl-prev:hover,
.sl-next:hover {
  color: var(--orange) !important;
}

.sl-image {
  cursor: move;
}