:root {
  --font: "Atkinson Hyperlegible Next";
  --orange: orange;
  --purple: purple;
  --pink: lightpink;
  --bg-light: #ffffff;
  --bg-dark: #181820;
  --text-light: #181820;
  --text-dark: #ddd;

  --accent: var(--orange);
  --secondary: var(--pink);
}


:root {
  --bg: var(--bg-light);
  --text: var(--text-light);
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
  }
}

/* Light mode */
@media (prefers-color-scme: light) {
  :root {
    --bg: var(--bg-light);
    --text: var(--text-light);
  }
}


/* Common styles */
body {
  font-family: var(--font);
  font-size: var(--font-size);
  background-color: var(--bg);
  color: var(--text);
  padding: 32px;
  font-size: 1.6em;
  white-space: nowrap;

}

h1,
h2 {
  margin: 0;
}

a,
.link {
  color: var(--accent);
  font-size: var(--font-size);
}

a:hover,
.link:hover {
  color: var(--secondary);
  transition: 0.1s;
}

.accent,
accent {
  color: var(--accent);
}

.no_underline {
  text-decoration: none;
}

.no_select {
  user-select: none;
}

.underline {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: 16px;
  align-items: center;
}

row {
  display: flex;
  gap: 16px;
}


hr {
  display: block;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background: linear-gradient(to right, var(--orange), var(--purple));
  height: 4px;
  border-radius: 4px;
  border: none;
}

img {
  user-select: none;
}

.icon>img {
  image-rendering: pixelated;
  transform: scale(1);
  transition: 0s;
}

.icon>img:hover {
  transform: scale(1.1);
}

/* Gallery layout */
gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 16px;
  margin: 16px;
}

gallery>img {
  border-radius: 8px !important;
}

gallery img {
  width: 100%;
  height: auto;
  pointer-events: all;
}

.medium-zoom-overlay {
  background: #00000064 !important;
}

.medium-zoom-image {
  border-radius: 2px;
}

#age {
  cursor: pointer;
  text-decoration: underline;
}

#age+#dob {
  display: none;
  color: var(--text);
}

#age:hover+#dob {
  display: inline;
}

#name:hover {
  content: " <3"
}